@use "theme" ;
.loadingPage{
    background: theme.$color-white-transparent-2;
    position: fixed;
    z-index: theme.$z8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.loadingPage__content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
