
  @use "theme";
  .editableGroup {
    margin-bottom: theme.$space-4;
    &--small {
      font-size: theme.$font-size-down-2;
    }
    &--medium {
      font-size: theme.$font-size-default;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .editableText--placeholder {
    color: theme.$color-mid-gray-900;
  }

  .editableGroup__label {
    // font-size: 12px;
    // padding-bottom: 6px;
  }

  .editableGroup__field {
    position: relative;
    width: 100%;
    // &--editing {
    // }
  }

  .editableText,
  .editableMultiLineTextField,
  .editableTextField {
    line-height: 1.5;
    width: 100%;
    display: block;
  }

  .editableTextField,
  .editableMultiLineTextField {
    box-sizing: border-box;
    background-color: theme.$color-light-gray-100;
    outline: none;
    border: none;
    padding: 0;
    margin: 0;
    &:focus {
      outline: none;
    }
  }
